*{
    margin:0;
    padding:0;
}
body{
   align-items: center;

}
img{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    height:10rem;
    width:10rem;
    border-radius:5rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1rem;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:4rem;
    height:17rem;
    border:1px solid black;
    margin:10vh;
    margin-top:10vh;
    border-radius:20px;
    background-color: aliceblue;
    font-size:5rem;

}
img{
    box-shadow: 1px 10px 3px rgb(57, 227, 173);
}
#project-container{
    Display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;
    gap:2rem;
    margin-top: 5rem;
    margin:10vh 10vh;
    border:1px solid black;
    background-color: aliceblue;
    border-radius:20px;

}
.projects{
    color: rgb(0, 0, 0);
    font-weight:bold;
    font-size: 3rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    align-items: center;
    border:2px solid rgb(186, 182, 182);
    height:12rem;
    width:12rem;
    border-radius:10% 25%;
    background-color:rgb(255, 255, 255);
    margin-top:5rem;
    margin-bottom: 5rem;
    
}
h3{
    text-align: center;
    font-size: 6rem;;
}